APScheduler
argcomplete
attrs
Automat
Babel
bcc
bcrypt
blinker
cachetools
certifi
chardet
click
colorama
configobj
constantly
cryptography
dbus-python
decorator
distlib
distro
distro-info
fastjsonschema
filelock
httplib2
hyperlink
idna
incremental
Jinja2
jsonpatch
jsonpointer
jsonschema
jupyter_core
launchpadlib
lazr.restfulclient
lazr.uri
markdown-it-py
MarkupSafe
mdurl
nbformat
netaddr
netifaces
oauthlib
packaging
pexpect
platformdirs
plotly
psutil
ptyprocess
pyasn1
pyasn1-modules
Pygments
PyGObject
PyHamcrest
PyJWT
pyOpenSSL
pyparsing
pyrsistent
pyserial
python-debian
python-magic
pytz
PyYAML
requests
rich
rsa
service-identity
setuptools
six
sos
ssh-import-id
systemd-python
tenacity
traitlets
Twisted
tzlocal
ubuntu-drivers-common
ubuntu-pro-client
ufw
unattended-upgrades
urllib3
userpath
virtualenv
wadllib
wheel
xkit
zope.interface
